.main img {
  width: 107%;
  max-width: 107%;
  height: auto;
  margin-top: -9px;
  margin-left: -10px;
}
.main span {
  width: 297px;
  font-size: 10px;
  max-width: 300px;
  text-align: justify;
}
.main button {
  color: #d9d9d9;
  font-family: "Istok Web";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 19px;
  margin: 110px 0px 0px 30px;
  width: 321px;
  height: 50px;
  background: #6a536a;
  border: 1px solid #6a536a;
  border-radius: 16px;
}
