.top-cast-container h6 {
  height: 14px;
  font-weight: 700;
  text-align: center;
  margin-right: 15%;
}
.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 8%;
  overflow-x: scroll;
  scrollbar-width:thin;
  scrollbar-color: rgba(155, 155, 155, 0.7) transparent;
}
